
html
{
   height: 100%;
   background-color: #eaeaea;
}

body
{
   height: 100%;
   background-color: #eaeaea;
   font-family: 'Exo', sans-serif;
   font-size: 1.6em;
}

#window 
{
   width: 1280px;
   margin: auto;
   margin-top: 10px;
}

#navbar-top
{
	background-color: #333;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}

#navbar-top div a
{
   color: #dadada;
   font-size: 1.8em;
   /*padding: 8px 15px 8px 15px;*/
   transition: all 600ms ease-in-out;
   -webkit-transition: all 600ms ease-in-out;  
}
*
#navbar-top div  a:hover
{
   /*font-weight: bold;*/
   /*background-color: rgba(160,160,160, .7);*/
   /*transform: scale(1.1);*/
   /*transform: translate(0px,12px);*/
   /*border-radius: 4px;*/
   /*padding: 8px 15px 8px 15px;*/
}

#div-nav
{
   padding-left: 8px;
   padding-right: 8px;
}

#span-nav
{
   color: #dadada;
}

#navbar-link
{
   font-size: 1.6em;
}

#navbar-link > span
{
   font-style: italic;
   color: #c0c0c0;
   text-shadow:
      0px 0px 5px rgba(176, 176, 176, .9), 
      0px 0px 7px rgba(160, 160, 160, .8),
      0px 0px 9px rgba(146, 146, 146, .7);
}

.form-group-endpoint
{
   padding-top: 2px;
}

.form-label-endpoint
{
   font-size: smaller;
}

#form-params hr
{
	margin-top: 10px;
	margin-bottom: 10px;
   border-top: 1px solid #adadad;
}

#container
{
   width: 1280px;
   min-height: 720px;
   border: 1px solid #cdcdcd;
   position: absolute;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
}

#sidebar
{
    width: 280px;
    /*min-height: 740px;*/
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    padding: 10px 20px 20px 20px;
    background-color: #d3d3d3;
    border: 1px solid #cdcdcd;
    border-bottom-left-radius: 4px;
}

.form-error
{
   padding-top: 8px;
   color: red;
   display: none;
}

#div-cont-int
{
   display: none;
}

#main
{
    position: absolute;
    width: 997px;
    left: 281px;
    top: 0px;
    bottom: 0px;
    background-color: #ffffff;
    border-bottom-right-radius: 4px;
}

#div-pics
{
   padding-top: 20px;
   font-style: italic;
   height: 400px;
   margin-left: 0px;
   margin-right: 0px;
}

#col-left
{
   padding-left: 0px;
   padding-right: 0px;
   height: 100%;
   text-align:center;
}

#col-middle
{
   padding-left: 0px;
   padding-right: 0px;
   height: 100%;
   text-align:center;
}

#col-right
{
   padding-left: 0px;
   padding-right: 0px;
   height: 100%;
   text-align:center;
}

.div-url
{
   padding-top: 8px;
   padding-bottom: 8px;
   font-size: 1.2em;
}

#span-target-src
{
}


#span-target-host
{
   font-style: normal;
   font-weight: bold;
   color : #4169E1;
}

#span-target-port
{
   font-style: normal;
   font-weight: bold;
   color : #4969E1;
}

.div-label-img
{
   padding-top: 8px;
   padding-bottom: 8px;
}

.label-img
{
   font-size: 1.4em;
}

#img-sftp-src
{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 60px;
	text-align:left;
}

#img-sftp-dst
{
   padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 60px;
	text-align:right;
}

#div-result-title
{
	text-align: center;
}

#div-result-title > h1
{
   font-style: normal;
}

#div-result-img
{
   text-align: center;
}

#div-result-outcome
{
   text-align:center;
}

#div-result-outcome > h2
{

   font-weight: bold;
}
#div-result-status
{
	padding: 20px;
   text-align: center;
}

#div-result-text
{
   text-align: center;
}

#page-title-header
{
   text-align: center;
}

.page-title-header > h1
{
   /*color: #e6e6e6;*/
   margin-top: .5em;
   margin-bottom: .5em;
   text-align: center;
   text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.75);
}

.page-title-subheader > h2
{
   text-align: center;
}

.loader {
  text-align: center;
  border: 16px solid #535353;
  border-radius: 50%;
  border-top: 16px solid #eaeaea;
  margin: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#panel-trace
{
	margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
   height: 280px;
}

#panel-trace-dtl
{
   max-height: 220px;
   overflow-y: auto;
}

.div-trace-line
{
   padding: 8px;
}
