
html
{
 height: 100%;
}

body
{
   height: 100%;
   font-family: 'Exo', sans-serif;
   font-size: 1.6em;
}

#window 
{
   width: 1280px;
   min-height: 740px;
   margin: auto;
   margin-top: 2px;
}

#navbar-top
{
	background-color: #333;
}
/*
#navbar-top div a
{
   color: #ffffff;
   font-size: 2em;
   padding: 8px 15px 8px 15px;
   margin-top: 7px;
}
*/
#navbar-top div a
{
   color: #dadada;
   font-size: 1.8em;
   /*padding: 8px 15px 8px 15px;*/
   transition: all 600ms ease-in-out;
   -webkit-transition: all 600ms ease-in-out;  
}
*
#navbar-top div  a:hover
{
   /*font-weight: bold;*/
   /*background-color: rgba(160,160,160, .7);*/
   /*transform: scale(1.1);*/
   /*transform: translate(0px,12px);*/
   /*border-radius: 4px;*/
   /*padding: 8px 15px 8px 15px;*/
}

#div-nav
{
   padding-left: 8px;
   padding-right: 8px;
}

#span-nav
{
   color: #dadada;
}

#navbar-link
{
   font-size: 1.6em;
}

#navbar-link > span
{
   font-style: italic;
   color: #c0c0c0;
   text-shadow:
      0px 0px 5px rgba(176, 176, 176, .9), 
      0px 0px 7px rgba(160, 160, 160, .8),
      0px 0px 9px rgba(146, 146, 146, .7);
}

.form-group-endpoint
{
   padding-top: 2px;
}

.form-label-endpoint
{
   font-size: smaller;
}

#form-params hr
{
	margin-top: 10px;
	margin-bottom: 10px;
   border-top: 1px solid #afafaf;
}

#container
{
   width: 1280px;
   min-height: 740px;
   border: 1px solid #cacaca;
}

#sidebar
{
    width: 280px;
    min-height: 740px;
  	 float: left; 
    /*position: fixed;*/
    top: 51px;
    /*bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    */
    padding: 10px 20px 20px 20px;
    /*overflow-x: hidden;
    overflow-y: auto;*/
    background-color: #e3e3e3;
    border-right: 1px solid #cacaca;
}

#main
{
    padding-top: 40px;
    width: 990px;
    /*position: fixed;
    top: 51px;
    bottom: 0;
    left: 281px;*/
    float: left;
    /*z-index: 1000;*/
    /*display: block;*/
 
}

#col-left
{
   float: left;
   width: 33%;
   text-align:center;
}

#col-middle
{
   float: left;
   width: 33%;
   text-align:center;
}

#col-right
{
   float: left;
   width: 33%;
   text-align:center;
}

#img-sftp-src
{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 60px;
	text-align:left;
}

#img-sftp-dst
{
   padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 60px;
	text-align:right;
}

#div-result-title
{
	text-align: center;
}

#div-result-img
{
   padding-top: 40px;
   padding-bottom: 40px;
   text-align: center;
}

#div-result-outcome
{
   text-align:center;
}

#div-result-status
{
	padding: 20px;
   text-align: center;
}

#div-result-text
{
   text-align: center;
}
#page-title-header
{
   text-align: center;
}

.page-title-header > h1
{
   /*color: #e6e6e6;*/
   margin-top: .5em;
   margin-bottom: .5em;
   text-align: center;
   text-shadow: 2px 2px 3px rgba(128, 128, 128, 0.75);
}

.page-title-subheader > h2
{
   text-align: center;
}

.loader {
  text-align: center;
  border: 16px solid #535353;
  border-radius: 50%;
  border-top: 16px solid #eaeaea;
  margin: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#panel-trace
{
	margin-top: 40px;
}
